.main {
    max-width: 1100px;
    background: #fff;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-areas:
        'header header header'
        'container container container'
        'bottom bottom bottom'
;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr .2fr;
}
