.product {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0;
}

.product__title {
    margin-bottom: 15px;
}

.product__color__container {
    display: flex;
    align-items: center;
}

.product__color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.product__pricing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.product__pricing > span:nth-of-type(1) {
    flex: 1 1 40%;
    font-weight: 700;
    text-decoration: underline;
}

.remove {
    text-decoration: underline;
    cursor: pointer;
}

.product__pricing__bottom {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
